/**
 * **********************
 * 自动加载层级设置
 * **********************
 */
.module-container .Loading {
    z-index: 9;
}
/**
 * ******************
 * 模块全局设置
 * ******************
 */
.module-container[data-v-57dba74f] {
    position: relative;
    padding-top: 0;
}
.module-container > *[data-v-57dba74f] {
    padding: 0 20px;
}

/**
 * ******************
 * 模块内容
 * ******************
 */
.module-container > .module-content[data-v-57dba74f] {
    padding-bottom: 20px;
}
.module-container > .module-content > .in[data-v-57dba74f] {
    padding: 20px;
    background-color: white;
}
.module-container[data-v-57dba74f] {
}
.module-container .module-content[data-v-57dba74f] {
}
.module-container .module-content > .in[data-v-57dba74f] {
}
.module-container .module-content > .in > form[data-v-57dba74f] {
}
.module-container .module-content > .in > form > *[data-v-57dba74f] {
    margin-bottom: 12px;
}
.module-container .module-content > .in > form > *[data-v-57dba74f]:nth-last-of-type(1) {
    margin-bottom: 0;
}


/**
 * ********************
 * 选项切换中需要用到
 * ********************
 */
.module-container .module-content > .in > form .options > *[data-v-57dba74f] {
}
.module-container .module-content > .in > form .options > * > *[data-v-57dba74f] {
    margin-bottom: 20px;
}
.module-container .module-content > .in > form .options > * > *[data-v-57dba74f]:nth-last-of-type(1) {
    margin-bottom: 0;
}

/**
 * **********************
 * 车辆配置
 * **********************
 */
.configuration[data-v-57dba74f] {
}
.configuration > .group[data-v-57dba74f] {
}
.configuration > .group > .list[data-v-57dba74f] {
}
.configuration > .group > .list[data-v-57dba74f]:after {
    display: block;
    content: '';
    clear: both;
}
.configuration > .group > .list .item[data-v-57dba74f] {
    float: left;
    width: 320px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.configuration > .group > .list .item[data-v-57dba74f] {
}
.configuration > .group > .list .item > *[data-v-57dba74f] {
    display: inline-block;
}
.configuration > .group > .list .item > .left[data-v-57dba74f] {
    width: 150px;
}
