/**
 * **********************
 * 自动加载层级设置
 * **********************
 */
.module-container .Loading {
    z-index: 9;
}
/**
 * ******************
 * 模块全局设置
 * ******************
 */
.module-container[data-v-31f5b61c] {
    position: relative;
    padding-top: 0;
}
.module-container > *[data-v-31f5b61c] {
    padding: 0 20px;
}

/**
 * ******************
 * 模块内容
 * ******************
 */
.module-container > .module-content[data-v-31f5b61c] {
    padding-bottom: 20px;
}
.module-container > .module-content > .in[data-v-31f5b61c] {
    padding: 20px;
    background-color: white;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vZ2xvYmFsLmNzcyIsIndlYnBhY2s6Ly8vcHVibGljLmNzcz9kM2I1Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOzs7O0VBSUU7QUFDRjtJQUNJLFVBQVU7QUFDZCxDO0FDUEE7Ozs7RUFJRTtBQUNGO0lBQ0ksa0JBQWtCO0lBQ2xCLGNBQWM7QUFDbEI7QUFDQTtJQUNJLGVBQWU7QUFDbkI7O0FBRUE7Ozs7RUFJRTtBQUNGO0lBQ0ksb0JBQW9CO0FBQ3hCO0FBQ0E7SUFDSSxhQUFhO0lBQ2IsdUJBQXVCO0FBQzNCLEMiLCJmaWxlIjoiMzAuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyoqXHJcbiAqICoqKioqKioqKioqKioqKioqKioqKipcclxuICog6Ieq5Yqo5Yqg6L295bGC57qn6K6+572uXHJcbiAqICoqKioqKioqKioqKioqKioqKioqKipcclxuICovXG4ubW9kdWxlLWNvbnRhaW5lciAuTG9hZGluZyB7XHJcbiAgICB6LWluZGV4OiA5O1xufSIsIi8qKlxyXG4gKiAqKioqKioqKioqKioqKioqKipcclxuICog5qih5Z2X5YWo5bGA6K6+572uXHJcbiAqICoqKioqKioqKioqKioqKioqKlxyXG4gKi9cbi5tb2R1bGUtY29udGFpbmVyW2RhdGEtdi0zMWY1YjYxY10ge1xyXG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgcGFkZGluZy10b3A6IDA7XG59XG4ubW9kdWxlLWNvbnRhaW5lciA+ICpbZGF0YS12LTMxZjViNjFjXSB7XHJcbiAgICBwYWRkaW5nOiAwIDIwcHg7XG59XHJcblxyXG4vKipcclxuICogKioqKioqKioqKioqKioqKioqXHJcbiAqIOaooeWdl+WGheWuuVxyXG4gKiAqKioqKioqKioqKioqKioqKipcclxuICovXG4ubW9kdWxlLWNvbnRhaW5lciA+IC5tb2R1bGUtY29udGVudFtkYXRhLXYtMzFmNWI2MWNdIHtcclxuICAgIHBhZGRpbmctYm90dG9tOiAyMHB4O1xufVxuLm1vZHVsZS1jb250YWluZXIgPiAubW9kdWxlLWNvbnRlbnQgPiAuaW5bZGF0YS12LTMxZjViNjFjXSB7XHJcbiAgICBwYWRkaW5nOiAyMHB4O1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGU7XG59Il0sInNvdXJjZVJvb3QiOiIifQ==*/