.module-container {

}

.module-container .module-content {

}

.module-container .module-content > .in {

}

.module-container .module-content > .in > form {

}

.module-container .module-content > .in > form > * {
    margin-bottom: 12px;
}

.module-container .module-content > .in > form > *:nth-last-of-type(1) {
    margin-bottom: 0;
}


/**
 * ********************
 * 选项切换中需要用到
 * ********************
 */
.module-container .module-content > .in > form .options > * {

}

.module-container .module-content > .in > form .options > * > * {
    margin-bottom: 20px;
}

.module-container .module-content > .in > form .options > * > *:nth-last-of-type(1) {
    margin-bottom: 0;
}