<<<<<<< HEAD
.module-container > .module-content > .in > * {
    margin-bottom: 12px;
}

.module-container > .module-content > .in > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.module-container > .module-content > .in > .list {

}

.module-container > .module-content > .in > .list > * {
    margin-bottom: 12px;
}

.module-container > .module-content > .in > .list > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.module-container > .module-content > .in > .list > .page {
=======


.module-container > .module-content > .list {

}

.module-container > .module-content > .list > * {
    margin-bottom: 12px;
}

.module-container > .module-content > .list > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.module-container > .module-content > .list > .page {
>>>>>>> 2312275b72dca303976d703d8a85fe347188bdd0
    text-align: center;
}