/**
 * ******************
 * 模块全局设置
 * ******************
 */
.module-container {
    position: relative;
<<<<<<< HEAD
    padding-top: 0;
}

.module-container > * {
    padding: 0 20px;
=======
>>>>>>> 2312275b72dca303976d703d8a85fe347188bdd0
}

/**
 * ******************
 * 模块内容
 * ******************
 */
.module-container > .module-content {
<<<<<<< HEAD
    padding-bottom: 20px;
}

.module-container > .module-content > .in {
    padding: 20px;
    background-color: white;
}
=======
    padding: 20px;
    background-color: white;
}

.module-container > .module-content > * {
    margin-bottom: 12px;
}

/*.module-container > .module-content > *:nth-last-of-type(1) {*/
/*margin-bottom: 0;*/
/*}*/
>>>>>>> 2312275b72dca303976d703d8a85fe347188bdd0
